body {
    display: block;
    font-family: 'IBM Plex Serif', 'Times New Roman', Times, serif;
    color: #2a2a2a;
    background-color: #fbfbfc
}
pre, code {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #f0f0f0;
    color: #181818;
    font-size: .9em;
    padding-left: 10px;
}
.sans {
    font-family: Overpass, Arial, Helvetica, sans-serif;
}
.sans a
{
    text-decoration-line: none;
}
.boldest {
    font-weight: 900;
}

.radius-left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.radius-right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.solid-bg {
    background-color: #1850a0;;
}

a {
    color: #1850a0;
}
a:hover {
    color: #4870d0;
    text-decoration-line: underline;
}

hr {
    border-style: solid;
    border-color: #e8e8e8;
}

.lr-pad {
    padding-right:8px;
    padding-left: 12px;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}
.nav-separator {
    width: 80%;
    border-style: solid;
    border-color: #e8e8e8;
}

.navigation {
    font-size: 1em;
    line-height: 2;
    font-weight: bold;
}

.flex-container{
    display:flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.page-header {
    height: 58px;
    width: 100%;
    font-size: 1.3em;
    color: #fbfbfc;
}

.header-bar {
    height: 58px;
    vertical-align: middle;
    line-height: 58px;
}
#NavBar {
    order: 1;
    display: none;
}
.menu-button {
    height: 24px;
    line-height: 3px;
    width: 35px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    text-align: center;
    color: #ffffff;
}
.menu-line {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background-color: #ffffff
}
#menuButton {
    visibility:visible;
}
#PopUpMenu {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    margin-top: 24px;
    margin-right: 12px;
    opacity: 1;
    padding: 4px;
    color: #ffffff;
    z-index: 4;
}
#PopUpMenu a {
    color: #fbfbfc;
}

.pop-up-menu .menu-wrapper
{
    display: block;
}
.menu-wrapper
{
    visibility: visible;
}

#header-left {
    width: 50%;
    height: 58px;
    text-align: left;
}
#header-right {
    width: 50%;
    height: 58px;
    text-align: right;
    z-index: 3;
}

#menu-right {
    text-align: right;
}

#header-image {
    border-radius: 50%;
}

.inner-left
{
    position: relative;
    z-index: 1;
    left: 90px;
}

.outer-left
{
    position: relative;
    top:-61px;
    padding-left: 12px;
    z-index: 2;
    background-color: rgba(0,0,0,0);
}


.body-container {
    width: 96%;
    order: 2;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
}

.body-container p {
    line-height: 1.6em;
    margin-bottom: 1.2em;
}


.page-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
}

.messagebox {
    border-radius: 5px;
    box-shadow: 0px 0px 10px #d8d8d8;
    padding: 10px;
    font-size: 0.94em;
    margin-bottom: 10px;
}
.messagetitle {
    font-style: italic;
    margin-bottom: 10px;
}

.narrow-hr
{
    max-width: 250px;
    border: 0;
    border-top: 1px solid #d8d8d8;
    border-color: inherit;
    border-width: 3px;
    border-radius: 1.5px;
    margin-top:1px;
    margin-bottom:5px;
}

.page-footer {
    /*width: 100%;*/
    display: block;
    height: 160px;
    line-height: 32px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #d8d8d8;
    font-weight: bold;
    margin-top: 30px;
}

.blog-title
{
    font-weight: bold;
    margin-bottom: 0px;
}
.blog-date
{
    font-weight: 400;
    font-style: italic;
    font-size: .88235em;
}
.blog-date-post{
    color: #565656;
    line-height: 1em;
}
.blog-date-hr {
    margin-top: 1px;
    margin-bottom: -.7em;
}

.blog-excerpt 
p{
    font-size: .94em;
    line-height: 1.2em;
    margin-top: 0em;
}
.smaller-text {
    font-size: .94em;
}

@media print {
    #menuButton{
        visibility: hidden;
    }
    .page-footer
    {
        display: none;
    }
}

@media screen and (max-width: 319px)
{
    .inner-left {
        /*prevent text overlap on very small screens*/
        display: none;
    }
    .outer-left{
        /*adjust photo position to account for inner-left being hidden*/
        top:-2px;
    }
}

@media screen and (min-width: 850px) {
    #menuButton {
        visibility: hidden;
    }

    #NavBar {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 22%;
        display: block;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #d8d8d8;
        padding-left: 1%;
        padding-top: 10px;
        order: 3;

    }

    .menu-wrapper {
        display: none;
        visibility: hidden;
    }

    .body-container {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-right: 4%;
        margin-left: 5%;
        width: 68%;

    }
    .small-screen-menu
    {
        display: none;
    }
    .content
    {
        font-size: 1.0625em;
    }
    .page-footer {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .body-container {
        width: 54%;
        margin-left: 23%;
        margin-right: 4%;
    }
    #NavBar {
        width: 17%;
        margin-right:1%
    }
}