body {
    display: block;
    font-family: 'Mada', Arial, Helvetica, sans-serif;
    color: #2a2a2a;
    background-color: #fbfbfc;
}
pre {
    font-family: 'Roboto Mono', monospace;
    background-color: #f4f4f4;
    color: #000000;
    font-size: .8125rem;
    padding-left: 18px;
    line-height: 1.45em;
}

.highlight pre {
    box-shadow: 5px 5px 10px #d8d8d8;
    border-radius: 15px;
    border: 3px solid #1850a0;

}

figure {
    margin-inline-start: 2%;
    margin-inline-end: 2%;
    border-radius: 15px;
}

.sans {
    font-family: Overpass, Arial, Helvetica, sans-serif;
}
.sans a
{
    text-decoration-line: none;
}
.boldest {
    font-weight: 900;
}

.radius-left{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.radius-right{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.solid-bg {
    background-color: #1850a0;;
}

a {
    color: #1850a0;
}
a:hover {
    color: #4870d0;
    text-decoration-line: underline;
}

hr {
    border-style: solid;
    border-color: #e8e8e8;
}

.lr-pad {
    padding-right:8px;
    padding-left: 12px;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
    margin-block-start: 0; /* for Chrome / Firefox */
    margin-block-end: 0; 
    margin-bottom: 0; /* for Edge / IE */
    margin-top: 0;
}
.nav-separator {
    width: 80%;
    border-style: solid;
    border-color: #e8e8e8;
}

.navigation {
    font-size: 1rem;
    line-height: 2;
    font-weight: bold;
}

.nobold {
    font-weight: 400;
}

.flex-container{
    display:flex;
    flex-wrap: wrap;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}
.page-header {
    height: 58px;
    width: 100%;
    font-size: 1.5625em;
    color: #fbfbfc;
}

.header-bar {
    height: 58px;
    vertical-align: middle;
    line-height: 64px;
}

.menu-align {
    line-height: 50px;
    margin-right: 4px;
}

#NavBar {
    order: 1;
    display: none;
}
.menu-button {
    height: 28px;
    line-height: 3px;
    width: 40px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ffffff;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    padding:0px;
    margin-top: 16px;
}

#close-button {
    margin-top: 0px;

}

.menu-line {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;

}
#menuButton {
    visibility:visible;
}
#PopUpMenu {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    margin-top: 20px;
    margin-right: 16px;
    opacity: 1;
    padding: 4px;
    color: #ffffff;
    z-index: 4;
}
#PopUpMenu a {
    color: #fbfbfc;
}
#PopUpMenu .navigation {
    font-size: 1.25rem;
}

.pop-up-menu .menu-wrapper
{
    display: block;
}
.menu-wrapper
{
    visibility: visible;
}

#header-left {
    width: 50%;
    height: 58px;
    text-align: left;
}
#header-right {
    width: 50%;
    height: 58px;
    text-align: right;
    z-index: 3;
}

#menu-right {
    text-align: right;
}

#header-image {
    border-radius: 50%;
}

.inner-left
{
    position: relative;
    z-index: 1;
    left: 90px;
    font-weight: 900;
}

.outer-left
{
    position: relative;
    top:-61px;
    padding-left: 12px;
    z-index: 2;
    background-color: rgba(0,0,0,0);
}


.body-container {
    width: 96%;
    order: 2;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 15px;
}

.body-container p {
    line-height: 1.6em;
    margin-bottom: 1.2em;
}


.page-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    margin-left:15px;
    margin-right: 15px;
}

.messagebox {
    border-radius: 15px;
    box-shadow: 5px 5px 10px #d8d8d8;
    border: 3px solid #1850a0;
    padding: 20px;
    margin: 30px 20px 30px 20px;
}
.messagetitle {
    font-style: italic;
    margin-bottom: 10px;
}
.messagebox br {
    line-height: 1.8em;
}

.narrow-hr
{
    max-width: 250px;
    border: 0;
    border-top: 1px solid #d8d8d8;
    border-color: inherit;
    border-width: 3px;
    border-radius: 1.5px;
    margin-top:1px;
    margin-bottom:5px;
}

.page-footer {
    /*width: 100%;*/
    display: block;
    line-height: 32px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #d8d8d8;
    border: 3px solid #1850a0;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-title
{
    font-weight: bold;
    margin-bottom: 0px;
    font-size: .94117647em;
}

.blog-date
{
    font-weight: 400;
    font-style: italic;
    font-size: .88235em;
}
.blog-date-post{
    color: #565656;
    line-height: 1em;
}
.blog-date-hr {
    margin-top: 1px;
    margin-bottom: -.7em;
}

.blog-excerpt 
p{
    font-size: .941176em;
    line-height: 1.2em;
    margin-top: 0em;
}
.smaller-text {
    font-size: .941176em;
}

.shadowbox {
    border-radius: 15px;
    box-shadow: 5px 5px 10px #d8d8d8;
    padding: 10px; 
    border: 3px solid #1850a0;
}
nav.shadowbox {
    border: 3px solid #a00000;
}

@media print {
    body{
        color: #000000;
        background-color: #ffffff;
    }
    #menuButton{
        visibility: hidden;
    }
    .page-footer
    {
        display: none;
    }
    .body-container {
        margin-top: 15px;
    }
}
table {
    border-spacing: 0px;
    margin-bottom: 20px;
}
td, th {
    border-style: solid;
    border-width: 1px;
    border-color: #2a2a2a;
    padding: 4px;

}

@media screen and (max-width: 450px)
{
    .inner-left {
        font-size: 1.25rem;
    }
    
}
@media screen and (max-width: 319px)
{
    .inner-left {
        /*prevent text overlap on very small screens*/
        display: none;
    }
    .outer-left{
        /*adjust photo position to account for inner-left being hidden*/
        top:-2px;
    }
}



@media screen and (min-width: 900px) {
    body{
        background-color: #e6e6e6;
    }
    
    #menuButton {
        visibility: hidden;
    }

    #NavBar {
        margin-top: 25px;
        width: 24.5%;
        display: block;
        order: 3;

    }

    .menu-wrapper {
        display: none;
        visibility: hidden;
    }

    .body-container {
        margin-top: 25px;
        margin-bottom: 60px;
        margin-right: 25px;
        margin-left: 0.75%;
        width: 70.5%;
        background-color: #fbfbfc;
        border-radius: 10px;
        padding-top: 15px;
        box-shadow: 5px 5px 10px #d0d0d0;
    }

    .shadowbox{
        background-color: #fbfbfc;
    }
    nav.shadowbox
    {
        box-shadow: 5px 5px 10px #d0d0d0;

    }

    .small-screen-menu
    {
        display: none;

    }
    .content
    {
        font-size: 1.125rem;
        padding: 15px;
    }
    .page-footer {
        display: none;
    }
}
@media screen and (min-width: 1260px) {
    .body-container {
        width: 58%;
        margin-left: 21%;

    }
    #NavBar {
        width: 18.75%;
    }
}