---
layout: default
title: Blog
social-title: Shawn Pence - Blog
social-description: Blog posts by Shawn Pence
---

  {% for post in site.posts %}
  <div class="blog-title"><h2 class="blog-title"></h2><a href="{{ post.url }}" class="sans">{{ post.title }}{% if post.subtitle %} - {{ post.subtitle }}{% endif %}</a></h2><span class="blog-date"> - <time datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date: "%B %d, %Y"  }}</time></span></div>
  <div class="blog-excerpt">{{ post.excerpt | truncatewords: site.max_excerpt_length}}</div>
  {% endfor %}
