---
layout: default
title: Shawn Pence
subtitle: Software Developer
social-description: website for Shawn P Pence, software developer
---

<p>I am an experienced C# / SQL developer with a record of successful projects and satisfied application users. Continuous self-improvement, sharing knowledge, and teaching others are among my strengths. I’ve advanced my own career by helping my teammates succeed. I’m a driven self-starter always looking for ways to improve processes and contribute to team success.
</p>
<div class="messagebox">
    <div class="messagetitle">I'm currently seeking new employment opportunities:</div>
    If you are looking for a remote developer and are willing to consider someone who can work full-time September through May and a flexible schedule summers / school breaks, please contact me!  I have a special-needs teen who aged out of available daycare options causing my need for a unique schedule.
</div>
{% if site.posts.size > 0 %}
<br>
<div>
    <div class="content"><strong>Recent Blog Posts:</strong></div><br>
    <div class="lr-pad">
        {% for post in site.posts limit:5 %}
        <div class="blog-title"><a href="{{ post.url }}" class="sans">{{ post.title }}{% if post.subtitle %} - {{ post.subtitle }}{% endif %}</a> <span class="blog-date">{{ post.date | date: "%B %d, %Y"  }}</span></div>
        <div class="blog-excerpt">{{ post.excerpt | truncatewords: site.max_excerpt_length}}</div>
        {% endfor %}
    </div>
</div>
{% endif %}
