---
layout: default
title: Shawn Pence
subtitle: Software Developer
social-description: website for Shawn P Pence, software developer
---

<p>I am an experienced C# / SQL developer with a record of successful projects and satisfied application users. Continuous self-improvement, sharing knowledge, and teaching others are among my strengths. I’ve advanced my own career by helping my teammates succeed. I’m a driven self-starter always looking for ways to improve processes and contribute to team success.
</p>
<div class="messagebox">
    <div class="messagetitle">I'm currently seeking new employment opportunities:</div>
    I want to be a long-term part of a successful team and am looking for full-time remote work.<br>
    <em class="smaller-text">(I need a flexible schedule in summers due to my special-needs teen; I'll get the work done,
         but it may not be 8-5 in the summer.)</em>
</div>
{% if site.posts.size > 0 %}
<div>
    <div class="content"><strong>Recent Blog Posts:</strong></div><br>
    <div class="lr-pad">
        {% for post in site.posts limit:5 %}
        <div class="blog-title"><a href="{{ post.url }}" class="sans">{{ post.title }}{% if post.subtitle %} - {{ post.subtitle }}{% endif %}</a> <span class="blog-date">{{ post.date | date: "%B %d, %Y"  }}</span></div>
        <div class="blog-excerpt">{{ post.excerpt | truncatewords: site.max_excerpt_length}}</div>
        {% endfor %}
    </div>
</div>
{% endif %}
